* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1 {
    font-family: "Comic Sans MS", arial;
  }
  .tabel {
    margin: 10px auto;
    min-width: 900px;
  }
  .header {
    height: 80px;
    border-radius: 10px;
    background-color: aqua;
  }
  h1 {
    text-align: center;
  }

  ul {
    margin-left: 20px;
  }
  .tabel2 {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  .content {
    padding: 0;
  }
  .tabel2 td {
    border: 2px dotted black;
  }
 .tabel2 .harga td{
      border-style: none;
      text-align: left;
  }
  p.judul{
      text-align: center;
      font-weight: bold;
  }
  .img {
    width: 150px;
  }
  img {
    width: 100%;
    height: 150px;
  }
  .side1,
  .side2 {
    width: 20%;
    border-radius: 10px;
  }
  .side1 {
    background-color: #3cb371;
  }
  .side2 {
    background-color: #ee82ee;
  }